/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/docker/cache/data/dump.rdb
/docker/storage/logs/supervisor/supervisord.log
/docker/supervisor/redis_6379.pid
/docker/supervisor/supervisord.pid
